.swiper-pagination-bullet-active {
    background-color: #6C596E !important;
}

.scrollingDiv {
    overflow-x: hidden;
}

.scrollingDiv::-webkit-scrollbar {
    width: 3px;
    border-radius: 2px;
}

.scrollingDiv::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
}

.fixedHeightDiv {
  height: 16rem;
  overflow-y: scroll;
}