ion-chip {
    --background: #DE7D91;
    --color: white;
}

.chip-outline {
    color: #E69EAC;
    border: 1px solid #E69EAC;
}

.chipHolder {
    padding: 10pt 0;
    justify-content: space-between;
}